### Performing Analytics on Data Warehouse

Fact Table

songplays - records in event data associated with song plays i.e. records with page NextSong

-> songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent

Dimension Tables

users - users in the app

->user_id, first_name, last_name, gender, level

songs - songs in music database

-> song_id, title, artist_id, year, duration

artists - artists in music database

->artist_id, name, location, lattitude, longitude

time - timestamps of records in songplays broken down into specific units

-> start_time, hour, day, week, month, year, weekday

In [3]:
import configparser


# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')


DWH_ENDPOINT = config['CLUSTER']['HOST'].strip("'")
DWH_ROLE_ARN = config['IAM_ROLE']['ARN']
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

In [4]:
%load_ext sql

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [6]:
%%sql
-- Number of events

SELECT COUNT(*) FROM songplays

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [7]:
%%sql
-- Number of users

SELECT COUNT(*) FROM users

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [8]:
%%sql
-- Number of songs

SELECT COUNT(*) FROM songs

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [9]:
%%sql
-- Number of artists

SELECT COUNT(*) FROM artists

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [10]:
%%sql
-- Number of timestamps

SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

### Finding the top songs of the month

**Note: The data contains the logs of month 11 only**

In [21]:
%%sql

SELECT s.title, a.artist_name, t.month, COUNT(*) as num_of_users FROM songplays AS sp
JOIN time AS t 
ON (sp.start_time = t.start_time)
JOIN songs AS s
ON (sp.song_id = s.song_id)
JOIN artists AS a
ON (sp.artist_id = a.artist_id)
GROUP BY s.title, a.artist_name, t.month, sp.user_id
ORDER BY num_of_users DESC 
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c6u3dnlbdywx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Girlfriend In A Coma', 'The Smiths', 11, 12),
 ('Subterranean Homesick Alien', 'Radiohead', 11, 8),
 ('Johnny_ I Hardly Knew Ya', 'Dropkick Murphys', 11, 8),
 ('Pop Is Dead', 'Radiohead', 11, 8),
 ('15 Step', 'Radiohead', 11, 8)]